/*
========================================================================================
    cdc/phoenix Nextflow conf-core schema lint nextflow_schema.jsonnfig file
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input and Output options
    pipeline                    = "PHOENIX"
    pipeline_upper              = params.pipeline.toUpperCase()
    input                       = null
    outdir                      = "${launchDir}/phx_output" // Output directory for main PHX output, griphin report can be changed separately below with griphin_out
    kraken2db                   = null
    bakta_db_path               = null
    busco_db_path               = null
    coverage                    = 30 // can only increase above 30


    // Additional input parameters for -entry SCAFFOLDS and CDC_SCAFFOLDS
    indir                       = null
    scaffolds_ext               = '.scaffolds.fa.gz'

    // Params for filtering
    minlength                   = 500
    phred                       = 33

    // Additional input parameters for -entry SRA and CDC_SRA
    input_sra                   = null
    use_sra                     = false

    // For NCBI spreadsheet creation
    microbe_example             = "${baseDir}/assets/Microbe.1.0_Example_Data.xlsx"
    sra_metadata                = "${baseDir}/assets/SRA_metadata_example.xlsx"
    osii_bioprojects            = "${baseDir}/assets/osii-bioprojects.yaml"
    create_ncbi_sheet           = false

    // Terra and ICA specific options
    bin_dir                     = "${launchDir}/bin/"
    terra                       = false
    ica                         = false

    // species specific subworkflows
    //CENTAR - waiting for complete validation, to be released in v2.3.0
    centar                      = false // C. diff pipeline
    griphin_out                 = "${launchDir}"
    blast_similarity            = 75
    qckb                        = "${baseDir}/assets/databases/species_specific/centar/knowledge_bases/qc_kb/"
    blast_kb                    = "${baseDir}/assets/databases/species_specific/centar/knowledge_bases/blast_kb/"
    wgmlst_container            = null

    // Database paths
    //placeholder                 = "${baseDir}/assets/placeholder.txt" // need for passing empty line to spades
    bbdukdb                     = "${baseDir}/assets/databases/phiX.fasta"
    zipped_sketch               = "${baseDir}/assets/databases/REFSEQ_20250214_Bacteria_complete.msh.xz"
    //amrfinder_db                = "${baseDir}/assets/databases/amrfinderdb_v4.0_20241218.1.tar.gz"
    amrfinder_db                = "${baseDir}/assets/databases/amrfinderdb_v4.0_20250325.1.tar.gz"
    ncbi_assembly_stats         = "${baseDir}/assets/databases/NCBI_Assembly_stats_20250214.txt"
    taxa                        = "${baseDir}/assets/databases/taxes_20230516.csv"
    ardb                        = "${baseDir}/assets/databases/ResGANNCBI_20250519_srst2.fasta"
    gamdbpf                     = "${baseDir}/assets/databases/PF-Replicons_20250214.fasta"
    hvgamdb                     = "${baseDir}/assets/databases/HyperVirulence_20220414.fasta"
    custom_mlstdb               = "${baseDir}/assets/databases/mlst_db_20241231.tar.gz"
    nodes                       = "${baseDir}/assets/databases/nodes_20241228.dmp.gz"
    names                       = "${baseDir}/assets/databases/names_20241228.dmp.gz"
    bldb                        = "${baseDir}/assets/databases/BLDB_20250327.csv"
    shigapass_database          = [] //default is to use the database in the container

    // c. diff specific databases
    cdiff_tox_gene_db           = "${baseDir}/assets/databases/species_specific/centar/Cdiff_toxins_srst2_20250422.fasta"  // For centar entry
    //cdiff_ar_gene_ALL_db        = "${baseDir}/assets/databases/species_specific/centar/centar_ar_db_20240816.fasta"  // For centar entry
    cdiff_ar_gene_NT_db         = "${baseDir}/assets/databases/species_specific/centar/centar_ar_db_wt_NT_20240910.fasta"  // For centar entry
    cdiff_ar_gene_AA_db         = "${baseDir}/assets/databases/species_specific/centar/centar_ar_db_wt_AA_20240910.fasta"  // For centar entry
    cdiff_diffbase_AA           = "${baseDir}/assets/databases/species_specific/centar/Diffbase_Toxin_AB_20211124.fa"  // For centar entry
    cdiff_diffbase_definitions  = "${baseDir}/assets/databases/species_specific/centar/Diffbase_toxinotype_definitions_20240808.tsv"  // For centar entry
    //cdiff_plasmid_db            = "${baseDir}/assets/databases/species_specific/centar/Cdiff_plasmids_20240809.fasta"  // For centar entry
    cdiff_wgmlst_blast_db       = "${baseDir}/assets/databases/species_specific/centar/CLOSD/"  // For centar entry
    cdiff_wgmlst_blast_loci     = "${baseDir}/assets/databases/species_specific/centar/CLOSD/CLOSD_loci.txt"
    cemb_strt_xwalk             = "${baseDir}/assets/databases/species_specific/centar/CEMB_ST_RT_Crosswalk_20240824.tsv"

    //busco db prep
    busco_config               = "${baseDir}/conf/modules.config"
    publish_dir_mode           = 'copy'

    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    max_multiqc_email_size     = '25.MB'

    // Boilerplate options
    if (params.pipeline_upper == 'UPDATE_PHOENIX') {
        info_dir = "update_pipeline_info"
    } else if (params.pipeline_upper == 'CENTAR') {
        info_dir = "centar_pipeline_info"
    } else {
        tracedir = "${params.outdir}/pipeline_info"
    }
    if (params.pipeline_upper == 'UPDATE_PHOENIX' || params.pipeline_upper == 'CENTAR') {
        if (params.input != null || params.input_sra != null) {
            if (params.outdir != "${launchDir}/phx_output") {
                tracedir = "${params.outdir}/${info_dir}"  // Default path
            } else {
                tracedir = "${launchDir}/${info_dir}" // this isn't going to work as project_id_dir isn't known here (so --input won't have this in the right place)
            }
        } else if (params.indir != null) {
            if (params.outdir != "${launchDir}/phx_output") {
                tracedir = "${params.outdir}/${info_dir}"  // Default path
            } else {
                tracedir = "${params.indir}/${info_dir}"  // Save to params.indir if defined
            }
        }
    }
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    help                       = false
    validate_params            = true
    show_hidden_params         = false
    schema_ignore_params       = 'info_dir,pipeline_upper,griphin_out,bldb,bakta_db_path,shigapass_database,cemb_strt_xwalk,bin_dir,cdiff_wgmlst_blast_loci,wgmlst_container,blast_kb,qckb,newtype_bin_dir,blast_similarity,centar,cdiff_ar_gene_ALL_db,cdiff_ar_gene_NT_db,cdiff_ar_gene_AA_db,cdiff_tox_gene_db,cdiff_wgmlst_blast_db,cdiff_plasmid_db,cdiff_diffbase_definitions,cdiff_diffbase_AA,cdiff_ar_gene_db,ica,nodes,names,sra_metadata,osii_bioprojects,microbe_example,custom_mlstdb,scaffolds_ext,input_sra,amrfinder_db,sra_fastqs,results,placeholder,zipped_sketch,terra,fasta,minlength,phred,ardb,hvgamdb,gamdbpf,taxa,ncbi_assembly_stats,refseq_fasta_database,bbdukdb,path2db,busco_config'
    enable_conda               = false

    // Config options
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
    config_profile_name        = null

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    docker {
        docker.enabled          = true
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        process {
            withName: 'SRST2_AR|SRST2_MLST' {
            containerOptions = '-B $(mktemp -d):/tmp'
            }
        }
    }
    podman {
        podman.enabled          = true
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    amd_tower   { includeConfig "conf/amd_tower.config"       }
    cdcsge      { includeConfig "conf/cdcsge.config"          }
    kraken      { includeConfig 'conf/kraken.config'          }
    terra       { includeConfig 'conf/terra.config'           }
    hpc_custom  { includeConfig 'conf/HPC_Template.config'    }
    test        { includeConfig 'conf/test.config'            }
    debug_procs { includeConfig 'conf/debug_processes.config' }
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}

// when you change version here make sure its also changed in -entry CLIA CREATE_CLIA_PDF module
manifest {
    name            = 'cdcgov/phoenix'
    author          = 'Nicholas Vlachos, Alyssa Kent, Peng Qi, Thao Masters, Maria Diaz, Jill Hagey'
    homePage        = 'https://github.com/CDCgov/phoenix'
    description     = 'PHoeNIx: A short-read pipeline for healthcare-associated and antimicrobial resistant pathogens'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '2.2.0'
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
