if(params.ica_smoke_test) {
    params.input = null
    includeConfig 'conf/test.config'
}
params.mode = "PHOENIX"
params.mode_upper = params.mode.toUpperCase()
params.input = null  
params.kraken2db = null  
params.busco_db_path = null  
params.coverage = 30 
params.indir = null  
params.scaffolds_ext = '.scaffolds.fa.gz'  
params.minlength = 500  
params.phred = 33  
params.input_sra = null  
params.use_sra = false  
params.microbe_example = "${baseDir}/assets/Microbe.1.0_Example_Data.xlsx"  
params.sra_metadata = "${baseDir}/assets/SRA_metadata_example.xlsx"  
params.osii_bioprojects = "${baseDir}/assets/osii-bioprojects.yaml"    
params.create_ncbi_sheet = false  
params.terra = false  
params.ica = true  
params.centar = false  
params.griphin_out = false  
params.blast_similarity = 75
params.qckb = "${baseDir}/assets/databases/species_specific/centar/knowledge_bases/qc_kb/"
params.blast_kb = "${baseDir}/assets/databases/species_specific/centar/knowledge_bases/blast_kb/"
params.wgmlst_container = null
params.placeholder = "${baseDir}/assets/placeholder.txt"  
params.bbdukdb = "${baseDir}/assets/databases/phiX.fasta"  
params.zipped_sketch = "${baseDir}/assets/databases/REFSEQ_20250214_Bacteria_complete.msh.xz"  
params.amrfinder_db = "${baseDir}/assets/databases/amrfinderdb_v4.0_20250325.1.tar.gz"  
params.ncbi_assembly_stats = "${baseDir}/assets/databases/NCBI_Assembly_stats_20250214.txt"  
params.taxa = "${baseDir}/assets/databases/taxes_20230516.csv"  
params.ardb = "${baseDir}/assets/databases/ResGANNCBI_20250214_srst2.fasta"  
params.gamdbpf = "${baseDir}/assets/databases/PF-Replicons_20250214.fasta"  
params.hvgamdb = "${baseDir}/assets/databases/HyperVirulence_20220414.fasta"  
params.custom_mlstdb = "${baseDir}/assets/databases/mlst_db_20240124.tar.gz" 
params.nodes = "${baseDir}/assets/databases/nodes_20241228.dmp.gz"  
params.names = "${baseDir}/assets/databases/names_20241228.dmp.gz"  
params.bldb = "${baseDir}/assets/databases/BLDB_20250327.csv"
params.shigapass_database = [] 
params.cdiff_tox_gene_db = "${baseDir}/assets/databases/species_specific/centar/Cdiff_toxins_srst2_20250326.fasta"  // For centar entry
params.cdiff_ar_gene_ALL_db = "${baseDir}/assets/databases/species_specific/centar/centar_ar_db_20240816.fasta"  // For centar entry
params.cdiff_ar_gene_NT_db = "${baseDir}/assets/databases/species_specific/centar/centar_ar_db_wt_NT_20240910.fasta"  // For centar entry
params.cdiff_ar_gene_AA_db = "${baseDir}/assets/databases/species_specific/centar/centar_ar_db_wt_AA_20240910.fasta"  // For centar entry
params.cdiff_diffbase_AA = "${baseDir}/assets/databases/species_specific/centar/Diffbase_Toxin_AB_20211124.fa"  // For centar entry
params.cdiff_diffbase_definitions = "${baseDir}/assets/databases/species_specific/centar/Diffbase_toxinotype_definitions_20240808.tsv"  // For centar entry
params.cdiff_plasmid_db = "${baseDir}/assets/databases/species_specific/centar/Cdiff_plasmids_20240809.fasta"  // For centar entry
params.cdiff_wgmlst_blast_db = "${baseDir}/assets/databases/species_specific/centar/CLOSD/"  // For centar entry
params.cdiff_wgmlst_blast_loci = "${baseDir}/assets/databases/species_specific/centar/CLOSD/CLOSD_loci.txt"
params.cemb_strt_xwalk = "${baseDir}/assets/databases/species_specific/centar/CEMB_ST_RT_Crosswalk_20240824.tsv"
params.busco_config = "${baseDir}/conf/modules.config"  
params.multiqc_config = null  
params.multiqc_title = null  
params.max_multiqc_email_size = '25.MB'  
params.plaintext_email = false  
params.monochrome_logs = false  
params.help = false  
params.validate_params = true  
params.show_hidden_params = false  
params.schema_ignore_params = 'ica,nodes,names,sra_metadata,osii_bioprojects,microbe_example,custom_mlstdb,scaffolds_ext,input_sra,amrfinder_db,sra_fastqs,results,placeholder,zipped_sketch,terra,fasta,minlength,phred,ardb,hvgamdb,gamdbpf,taxa,ncbi_assembly_stats,refseq_fasta_database,bbdukdb,path2db,busco_config'  
params.custom_config_version = 'master'  
params.custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"  
params.config_profile_description = null  
params.config_profile_contact = null  
params.config_profile_url = null  
params.config_profile_name = null  
params.max_memory = '128.GB'  
params.max_cpus = 16  
params.max_time = '240.h'  
docker.enabled = true  
docker.userEmulation = true  
params.outdir = 'out'  
params.publish_dir_mode = 'copy'  
params.conda_enabled = false  
params.igenomes_ignore = false  
params.enable_conda = false  
params.email_on_fail = null  
params.email = null  
process = [:]  
params.ica_smoke_test = false  
includeConfig 'conf/base.ica.config'
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}
process.shell = ['/bin/bash', '-euo', 'pipefail']
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
includeConfig 'conf/modules.config'
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}