/*
========================================================================================
    Config options for running on OAMD Platform
========================================================================================
*/

profiles {
    amd_tower {
        process {
            withName:KRAKENTOOLS_MAKEKREPORT {
                queue = 'all.q'
                cpus   = { check_max( 2                   , 'cpus'    ) }
                memory = { check_max( 8.GB  * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h                 , 'time'    ) }
            }

        }
    }
}
