/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    cdcgov/phoenix Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    // The defaults for all processes
    cpus   = { 6    * task.attempt, 'cpus'    }
    memory = { 12.GB * task.attempt, 'memory' }
    time   = { 4.h  * task.attempt, 'time'    }

    errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

    // Process-specific resource requirements
    // NOTE - Please try and reuse the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel:process_single { 
        cpus   = { 1                   }
        memory = { 2.GB * task.attempt }
        time   = { 4.h                 }
    }
    
    withLabel:process_low {
        cpus   = { 2                    }
        memory = { 3.GB  * task.attempt }
        time   = { 4.h                  }
    }

    withLabel:process_medium {
        cpus   = { 4                    }
        memory = { 10.GB * task.attempt } 
        time   = { 4.h                  }
    }

    withLabel:process_high {
        cpus   = { 6                    }
        memory = { 10.GB * task.attempt }
        time   = { 8.h                  }
    }

    withName:FASTP_SINGLES {
        cpus   = { 2                    }
        memory = { 3.GB  * task.attempt }
        time   = { 8.h                  }
    }

    withName:FASTP {
        cpus   = { 2                    }
        memory = { 5.GB  * task.attempt }
        time   = { 8.h                  }
    }

    withName:FASTQCTRIMD {
        cpus   = { 2                    }
        memory = { 6.GB  * task.attempt }
        time   = { 8.h                  }
    }

    withName:BBDUK {
        cpus   = { 4                    }
        memory = { 14.GB * task.attempt } //needs min 14GB for bbduk
        time   = { 8.h                  }
    }

    withName:BBMAP_REFORMAT {
        cpus   = { 2                     }
        memory = { 11.GB  * task.attempt } // minimum of 11GB required
        time   = { 8.h                   }
    }

    withName:KRAKEN2_KRAKEN2 {
        cpus   = { 2                    }
        memory = { 10.GB * task.attempt }
        time   = { 8.h                  }
    }

    withName:SPADES {
        cpus   = { 6                    }
        memory = { 16.GB * task.attempt }
        time   = { 8.h                  }
    }

    withName:'SRST2_AR' {
        cpus   = { 8                    }
        memory = { 7.GB * task.attempt  }
        time   = { 8.h                  }
    }

    withName:PROKKA {
        cpus   = { 6                    }
        memory = { 40.GB * task.attempt }
        time   = { 8.h                  }
    }

    withName:AMRFINDERPLUS_RUN {
        cpus   = { 6                    }
        memory = { 4.GB  * task.attempt }
        time   = { 8.h                  }
    }

    withName:BUSCO {
        cpus   = { 8                    }
        memory = { 45.GB * task.attempt } // works for 90% retry got the rest.
        time   = { 8.h                  }
    }

    withName:'GAMMA|GAMMAS' {
        cpus   = { 3                    }
        memory = { 6.GB  * task.attempt }
        time   = { 8.h                  }
    }

    withName:MULTIQC {
        cpus   = { 1                    }
        memory = { 6.GB  * task.attempt }
        time   = { 8.h                  }
    }

    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withName:CUSTOM_DUMPSOFTWAREVERSIONS {
        cache = false
    }

}
