/*
========================================================================================
    Template config options for HPC compute environments
========================================================================================
*/

// This config is only for assigning the executor and queue for submitting jobs. Number of CPUs and memory for processes are controlled in the base.config file.
// After editing this config save it in the conf folder
// If you changed the name of this file then and then edit the file name in the line custom_HPC      { includeConfig 'conf/HPC_Template.config'      } in the nextflow.config file at https://github.com/DHQP/QuAISAR_Nextflow/blob/1744e80f6e7100af3b3d0da8efbc1fca24a8a280/nextflow.config#L138

profiles {
    cdcsge {

        process {
            executor     = 'sge'
            penv         = 'smp'
            queueSize    = 12
            pollInterval = '10sec'
            submitRateLimit = '2sec'
            queue = { task.time <= 4.h ? 'short.q' : task.time > 3.day ? 'long.q' : 'all.q' }

            errorStrategy = { task.exitStatus in [250,245,140,143,137,104,134,139] ? 'retry' : 'finish' }
            maxRetries    = 2
            maxErrors     = '-1'

            // This will only effect processes that are labelled "process_single" change the queues in the other "withLabel" statements for each process type
            withLabel:process_single { 
                cpus   = { check_max( 1                  , 'cpus'    ) }
                memory = { check_max( 3.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 4.h                , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            // This will only effect processes that are labelled "process_low" change the queues in the other "withLabel" statements for each process type
            withLabel:process_low { 
                cpus   = { check_max( 2                  , 'cpus'    ) }
                memory = { check_max( 4.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 4.h                , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            //Change to the queue of the cluster you want jobs for processes that are labelled "process_medium" submitted to.
            withLabel:process_medium {
                cpus   = { check_max( 4                   , 'cpus'    ) }
                memory = { check_max( 10.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 4.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            //If you have a high memory node change to the queue of the cluster you want jobs for processes that are labelled "process_high" submitted to.
            withLabel:process_high {
                cpus   = { check_max( 6                   , 'cpus'    ) }
                memory = { check_max( 10.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:'SRATOOLS_PREFETCH|SRATOOLS_FASTERQDUMP|CREATE_SRA_SAMPLESHEET' { 
                cpus   = { check_max( 1                  , 'cpus'    ) }
                memory = { check_max( 4.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 4.h                , 'time'    ) }
            }

            withName:GET_RAW_STATS {
                cpus   = { check_max( 1                   , 'cpus'    ) }
                memory = { check_max( 4.GB  * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:GET_TRIMD_STATS {
                cpus   = { check_max( 1                   , 'cpus'    ) }
                memory = { check_max( 4.GB  * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:FASTP {
                cpus   = { check_max( 2                   , 'cpus'    ) }
                memory = { check_max( 5.GB  * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:FASTP_SINGLES {
                cpus   = { check_max( 2                   , 'cpus'    ) }
                memory = { check_max( 4.GB  * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:FASTQCTRIMD {
                cpus   = { check_max( 2                   , 'cpus'    ) }
                memory = { check_max( 7.GB  * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:BBDUK {
                cpus   = { check_max( 6                   , 'cpus'    ) }
                memory = { check_max( 15.GB * task.attempt, 'memory'  ) } // minimum of 14GB required
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:BBMAP_REFORMAT {
                cpus   = { check_max( 2                   , 'cpus'    ) }
                memory = { check_max( 11.GB  * task.attempt, 'memory'  ) } // minimum of 11GB required
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:KRAKEN2_KRAKEN2 {
                cpus   = { check_max( 2                   , 'cpus'    ) }
                memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:SPADES {
                cpus   = { check_max( 16                   , 'cpus'    ) }
                memory = { check_max( 64.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:RENAME_FASTA_HEADERS {
                cpus   = { check_max( 2                   , 'cpus'    ) }
                memory = { check_max( 4.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:'SRST2_AR|SRST2_MLST' {
                cpus   = { check_max( 8                   , 'cpus'    ) }
                memory = { check_max( 7.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:GET_TAXA_FOR_AMRFINDER {
                cpus   = { check_max( 1                   , 'cpus'    ) }
                memory = { check_max( 4.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:PROKKA {
                cpus   = { check_max( 6                   , 'cpus'    ) }
                memory = { check_max( 40.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:AMRFINDERPLUS_RUN {
                cpus   = { check_max( 6                   , 'cpus'    ) }
                memory = { check_max( 4.GB  * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:BUSCO {
                cpus   = { check_max( 8                   , 'cpus'    ) }
                memory = { check_max( 120.GB * task.attempt, 'memory' ) } // works for 90% retry got the rest.
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:'GAMMA|GAMMA_S' {
                cpus   = { check_max( 4                   , 'cpus'    ) }
                memory = { check_max( 15.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:UPDATE_GRIPHIN {
                cpus   = { check_max( 2                   , 'cpus'    ) }
                memory = { check_max( 10.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

            withName:MULTIQC {
                cpus   = { check_max( 1                   , 'cpus'    ) }
                memory = { check_max( 14.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h                 , 'time'    ) }
                clusterOptions = { "-l h_vmem=${task.memory.toString().replaceAll(/[\sB]/,'')}" }
            }

        }
    }
}
