params {

    static_assets = ""

    kraken2db                   = "${static_assets}/databases" // need this for kraken2db if you place those files in the assets folder
    placeholder                 = "${static_assets}/placeholder.txt" // need for passing empty line to spades
    bbdukdb                     = "${static_assets}/databases/phiX.fasta"
    zipped_sketch               = "${static_assets}/databases/REFSEQ_20240124_Bacteria_complete.msh.gz"
    amrfinder_db                = "${static_assets}/databases/amrfinderdb_v3.12_20240131.1.tar.gz"
    ncbi_assembly_stats         = "${static_assets}/databases/NCBI_Assembly_stats_20240124.txt"
    taxa                        = "${static_assets}/databases/taxes_20230516.csv"
    ardb                        = "${static_assets}/databases/ResGANNCBI_20240229_srst2.fasta"
    gamdbpf                     = "${static_assets}/databases/PF-Replicons_20240124.fasta"
    hvgamdb                     = "${static_assets}/databases/HyperVirulence_20220414.fasta"
    custom_mlstdb               = "${static_assets}/databases/mlst_db_20240124.tar.gz"
    nodes                       = "${static_assets}/databases/nodes_20240129.dmp.gz"
    names                       = "${static_assets}/databases/names_20240129.dmp.gz"
}
