profiles {
    debug_procs {
        // Enable process debugging
        process {
            withName: '.*' {
                beforeScript = { """
                    echo "================ TASK DEBUG ================"
                    echo "Process name         : ${task.name}"
                    echo "Work dir             : ${task.workDir}"
                    echo "Attempt              : ${task.attempt}"
                    echo "Task name:           : ${task.process}"
                    echo "Tag                  : ${task.tag}"
                    echo "Executor             : ${task.executor}"
                    echo "CPU                  : ${task.cpus}"
                    echo "Memory               : ${task.memory}"
                    echo "Time                 : ${task.time}"
                    echo "Publish dir          : ${task.publishDir}"
                    echo "Container            : ${task.container}"
                    echo "launchDir            : ${workflow.launchDir}"
                    echo "params.input         : ${params.input}"
                    echo "params.input_sra     : ${params.input_sra}"
                    echo "params.indir         : ${params.indir}"
                    echo "params.mode_upper    : ${params.mode_upper}"
                    echo "params.outdir        : ${params.outdir}"
                    echo "mod_outdir           : ${mod_outdir}"
                    echo "meta.id              : ${meta.id}"
                    echo "meta.project_id      : ${meta.project_id}"
                    echo "meta.full_project_id : ${meta.full_project_id}"
                    echo "full_project_id      : ${full_project_id}"
                    echo "==== PROCESS COMPLETED ===="
                """ }
            }
        }
    }
}

//            // Add debug information to all processes
//            afterScript = """
//            echo "==== POST PROCESS DEBUG ===="
//            echo "Process: $( [[ -n "$task.process" ]] && echo "$task.process" || echo "UNKNOWN_PROCESS" )"
//            echo "Task name: $( [[ -n "$task.process" ]] && echo "$task.process" || echo "UNKNOWN" ) ($( [[ -n "$task.tag" ]] && echo "$task.tag" || echo "no-tag" ))"
//            echo "Work dir: $( [[ -n "$task.workDir" ]] && echo "$task.workDir" || echo "UNKNOWN" )"
//            echo "Publish dir: $( [[ -n "$task.publishDir" ]] && echo "$task.publishDir" || echo "NONE" )"
//            echo "CPUs: $( [[ -n "$task.cpus" ]] && echo "$task.cpus" || echo "0" )"
//            echo "Memory: $( [[ -n "$task.memory" ]] && echo "$task.memory" || echo "UNKNOWN" )"
//            echo "Time: $( [[ -n "$task.time" ]] && echo "$task.time" || echo "UNKNOWN" )"
//            echo "Container: $( [[ -n "$task.container" ]] && echo "$task.container" || echo "NONE" )"
//            echo "launchDir: $( [[ -n "$workflow.launchDir" ]] && echo "$workflow.launchDir" || echo "UNKNOWN" )"
//            echo "params.input: $( [[ -n "$params.input" ]] && echo "$params.input" || echo "not_set" )"
//            echo "params.input_sra: $( [[ -n "$params.input_sra" ]] && echo "$params.input_sra" || echo "not_set" )"
//            echo "params.indir: $( [[ -n "$params.indir" ]] && echo "$params.indir" || echo "not_set" )"
//            echo "params.mode_upper: $( [[ -n "$params.mode_upper" ]] && echo "$params.mode_upper" || echo "not_set" )"
//            echo "params.outdir: $( [[ -n "$params.outdir" ]] && echo "$params.outdir" || echo "not_set" )"
//            echo "meta.id: $( [[ -n "$meta.id" ]] && echo "$meta.id" || echo "not_set" )"
//            echo "meta.project_id: $( [[ -n "$meta.project_id" ]] && echo "$meta.project_id" || echo "not_set" )"
//            echo "meta.full_project_id: $( [[ -n "$meta.full_project_id" ]] && echo "$meta.full_project_id" || echo "not_set" )"
//            echo "==== PROCESS COMPLETED ===="
//            echo "Exit status: $( [[ -n "$task.exitStatus" ]] && echo "$task.exitStatus" || echo "UNKNOWN" )"
//            echo "Duration: $( [[ -n "$task.duration" ]] && echo "$task.duration" || echo "0s" )"
//            echo "Real time: $( [[ -n "$task.realtime" ]] && echo "$task.realtime" || echo "0s" )"
//            echo "Peak memory: $( [[ -n "$task.peak_rss" ]] && echo "$task.peak_rss" || echo "0B" )"
//            echo "Peak virtual memory: $( [[ -n "$task.peak_vmem" ]] && echo "$task.peak_vmem" || echo "0B" )"
//            echo "============================"
//            """
//        }
//    }