/*
========================================================================================
    Template config options for HPC compute environments
========================================================================================
*/

// This config is only for assigning the executor and queue for submitting jobs. Number of CPUs and memory for processes are controlled in the base.config file.
// After editing this config save it in the conf folder
// If you changed the name of this file then and then edit the file name in the line custom_HPC      { includeConfig 'conf/HPC_Template.config'      } in the nextflow.config file at https://github.com/DHQP/QuAISAR_Nextflow/blob/1744e80f6e7100af3b3d0da8efbc1fca24a8a280/nextflow.config#L138

profiles {
    custom_HPC { // You can change this to the name of the profile you will be calling in the -profile rather than -profile custom_HPC

        process {
            executor   = 'sge' // Change this to your executor (i.e. slurm - https://www.nextflow.io/docs/latest/executor.html) here we use sge (Sun Grid Engine as an example)
            penv       = 'smp' // This directive allows you to define the parallel environment to be used when submitting a parallel task to the SGE resource manager see https://www.nextflow.io/docs/latest/process.html#penv

            // This will only effect processes that are labelled "process_low" change the queues in the other "withLabel" statements for each process type
            withLabel:process_low {
                queue  = 'basic.q' //Change to the queue of the cluster you want job submitted to
            }

            //Change to the queue of the cluster you want jobs for processes that are labelled "process_medium" submitted to.
            withLabel:process_medium {
                queue  = 'basic.q'
            }

            //If you have a high memory node change to the queue of the cluster you want jobs for processes that are labelled "process_high" submitted to.
            withLabel:process_high {
                queue  = 'highmem_node.q'
            }

            //If you have a node that is specific for jobs that take a while change to the queue of the cluster you want jobs for processes that are labelled "process_long" submitted to.
            withLabel:process_long {
                queue  = 'long_node.q'
            }

            //If you have a node that is specific for jobs that take a while change to the queue of the cluster you want jobs for processes that are labelled "process_short" submitted to.
            withLabel:process_short {
                queue  = 'short_node.q'
            }

            //If you have a high memory node change to the queue of the cluster you want jobs for processes that are labelled "process_high_memory" submitted to.
            withLabel:process_high_memory {
                queue = 'highmem_node.q'
            }
        }
    }
}
