profiles {
    kraken {
        process {
            withName: 'KRAKEN2_TRIMD|KRAKEN2_ASMBLD' {
                ext.args = '--use-names --memory-mapping'
                publishDir = [
                    path: { "${params.outdir}/${meta.id}/kraken2_trimd" },
                    mode: 'copy',
                    pattern: "*{classified*,unclassified*,classifiedreads*,report.txt}"
                ]
            }
            withName: 'KRAKEN2_WTASMBLD' {
                ext.args = '--memory-mapping'
                publishDir = [
                    path: { "${params.outdir}/${meta.id}/kraken2_trimd" },
                    mode: 'copy',
                    pattern: "*{classified*,unclassified*,classifiedreads*,report.txt}"
                ]
            }
        }
    }
}
