// Nextflow config file for running on Google Cloud Life Sciences
params {
  config_profile_description = 'Google Cloud Life Sciences Profile'
  config_profile_url = 'https://cloud.google.com/life-sciences'

  google_zone = 'us-central1-a'
  google_bucket = false
  google_debug = false
  google_preemptible = true
}

process.executor = 'google-lifesciences'
google.zone = params.google_zone
google_bucket = params.workDir
google.lifeSciences.debug = params.google_debug
google.lifeSciences.preemptible = params.google_preemptible

if (google.lifeSciences.preemptible) {
  process.errorStrategy = { task.exitStatus in [8,10,14] ? 'retry' : 'terminate' }
  process.maxRetries = 1
}
